// Import Presence Colors
@use "presence-color";

// Adjust Material Theme
@use "~@material/theme" with (
  $primary: presence-color.$primary,
  $secondary: presence-color.$secondary,
  $background: presence-color.$background,
  $surface: presence-color.$surface,
  $error: presence-color.$error,
  $on-primary: presence-color.$on-primary,
  $on-secondary: presence-color.$on-secondary,
  $on-surface: presence-color.$on-surface,
  $on-error: presence-color.$on-error
);

// Material TopAppBar
@use "~@material/top-app-bar/mdc-top-app-bar";

// Material Tab
@use "~@material/tab-bar/mdc-tab-bar";
@use "~@material/tab-scroller/mdc-tab-scroller";
@use "~@material/tab-indicator/mdc-tab-indicator";
@use "~@material/tab/mdc-tab";

// Material Card
@use "~@material/card";

// Material Button
@use "~@material/button/button";

// Material TextField
@use "~@material/floating-label/mdc-floating-label";
@use "~@material/line-ripple/mdc-line-ripple";
@use "~@material/notched-outline/mdc-notched-outline";
@use "~@material/textfield";

// Material Switch
@use "~@material/switch";

// Include Styles
@include card.core-styles;
@include button.core-styles;
@include textfield.core-styles;
@include switch.core-styles;
